In [6]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
Collecting py4j==0.10.9.2
  Using cached py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=a2451f8ef78c33ee2ecb35f28c1478ccdd910e6b6306e87261711faba10b3b99
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\2f\f8\95\2ad14a4614b4a9f645ee928fbbd057b1b254c67adb494c9a58
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0
Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.2)

In [8]:
import pyspark

In [12]:
import pandas as pd
pd.read_json("venv\people.json")

,name,email,city,mac,timestamp,creditcard
0,Keeley Bosco,katlyn@jenkinsmaggio.net,Lake Gladysberg,08:fd:0b:cd:77:f7,2015-04-25 13:57:36+07:00,1228-1221-1221-1431
1,Rubye Jerde,juvenal@johnston.name,None,90:4d:fa:42:63:a2,2015-04-25 09:02:04+07:00,1228-1221-1221-1431
2,Miss Darian Breitenberg,None,None,f9:0e:d3:40:cb:e9,2015-04-25 13:16:03+07:00,None
3,Celine Ankunding,emery_kunze@rogahn.net,None,3a:af:c9:0b:5c:08,2015-04-25 14:22:22+07:00,1228-1221-1221-1431
4,Dr. Araceli Lang,mavis_lehner@jacobi.name,Yvettemouth,9e:ea:28:41:2a:50,2015-04-25 21:02:11+07:00,1211-1221-1234-2201
...,...,...,...,...,...,...
9995,Jaqueline Walter I,payton@glover.biz,None,94:45:e0:51:36:7f,2015-04-25 15:21:00+07:00,None
9996,Isobel Reinger,deven@leuschke.org,None,65:70:d3:6d:7c:f1,2015-04-25 16:29:09+07:00,1228-1221-1221-1431
9997,Chelsea Shields,None,None,44:1b:7d:5e:c4:da,2015-04-25 15:46:44+07:00,1211-1221-1234-2201
9998,Luciano Gutmann,lindsey_kuvalis@lesch.name,None,c3:03:c2:65:13:fa,2015-04-25 08:37:19+07:00,1234-2121-1221-1211
9999,Austin Langworth,alexys@wilkinsongrady.com,None,f5:43:f0:3f:8c:36,2015-04-25 12:58:27+07:00,1212-1221-1121-1234